<!-- show only user blogpost -->

<div class="text-center">
    <h1>{{title}}</h1>
    <p>{{content}}</p>
    <p>{{comment}}</p>
    <p>Created by {{name}}</p>
    <p>{{format_date date_created}}</p>
</div>