<!-- show the user's name -->
<div class="row">
    <div class="col">
        <h1>Hi, {{name}}!</h1>
    </div>
</div>

{{#if blogposts.length}}
<!-- show all of the user's blog posts with option to update or delete -->
{{#each blogposts as |blogpost|}}
<div class="row">
    <div class="col">
        <h3><a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a></h3>
        <p>{{blogpost.content}}</p>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary update-blogpost" data-id="{{blogpost.id}}">Update</button>
        <button type="button" class="btn btn-danger delete-blogpost" data-id="{{blogpost.id}}">Delete</button>
    </div>
{{/each}}
</div>
{{/if}}
</div>

<!-- create a new Blog Post -->
<div class="row">
    <div class="col">
        <h2>Create a new Blog Post</h2>
<!-- Use newBlogPostHandler from dashboard.js -->
  <form class="form new-blogpost-form">
    <div class="form-group">
        <label for="blog-title">Title</label>
        <input class="form-input" id="blog-title" name="blog-title" type="text" />
    </div>
    <div class="form-group">
        <label for="blog-content">Content</label>
        <textarea class="form-input" id="blog-content" name="blog-content" rows="3" ></textarea>
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Create New</button>
    </div>
  </form>
  </div>
</div>

<script src="./js/dashboard.js"></script>


